*:visited, *:link {
  text-decoration: none;
  color: unset;
}

body {
  overflow-x: hidden;
  width: 100%;
}

#navbar {
  padding-top: 19px;
  padding-bottom: 19px;
  min-height: 85px;
  width: 100%;
  font-size: 15px;
  background-color: white;
}

#navbar .opcoes ul, #navbar .painel ul, #navbar .logo ul {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
}

#navbar .opcoes ul, #navbar .logo ul {
  justify-content: space-evenly;
}

#navbar .painel ul {
  justify-content: space-around;
}

.banneres img {
  width: 100%;
  height: 60vh;
  min-height: 450px;
  object-fit: cover;
  object-position: center;
}

.banneres .align-left {
  margin-top: -75px;
}

.legendabanner {
  padding: 25px;
}

.legendabanner:hover {
  opacity: .95;
}

.legendabanner a {
  text-transform: uppercase;
}

.callactions {
  background-color: white;
  padding-bottom: 115px;
  border-bottom: 1rem solid #FFB75D;
  width: 92vw;
  left: 0;
}

#callaction .callactions {
  padding-top: 200px;
  margin-top: -185px;
}

#callaction::before {
  position: absolute;
  background-color: #B7B7B7;
  width: 100%;
  min-height: 1338px;
  height: calc(1339px + 60%);
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
  content: ' ';
  z-index: -1;
}

.callactions a, #navbar .botao a, .fluxos .botao {
  padding: 12px 25px;
  background-color: black;
  color: white;
}

.callactions a:hover, #navbar .botao a:hover, #navbar * a:hover,
footer .button.cursos:hover, footer .button.contato:hover, .fluxos .botao:hover {
  opacity: .9;
}

.callactions a:active, #navbar .botao a:active, #navbar * a:active,
footer .cursos:active, footer .contato:active, .fluxos .botao:active {
  opacity: .5;
}

.callactions .row {
  margin-top: 25px;
}

.destaques {
  padding: 65px 0;
  background-color: #B7B7B7;
}

.destaques .row, .depoimento {
  background-color: white;
  padding: 40px 0;
}

.destaques h1, .destaques h2, .destaques h3, .destaques h4, .destaques h5,
.destaques h6 {
  text-transform: uppercase;
}

.destaques .texto {
  font-size: 18px;
  opacity: .9;
}

.destaques * img:hover {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
}

.callactions .acao {
  color: rgba(0,0,0,.7);
  margin: 30px 10px;
}

.callactions .acao:hover {
  color: rgba(0,0,0,.95);
}

.callactions .row .chamada .texto {
}

.depoimentos .slick-list {
  margin-top: -125px;
}

.depoimento {
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.depoimentos .quadro {
}

.depoimentos {
  padding: 65px 0 0;
}

.depoimento {
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.depoimento img {
  border-radius: 50%;
  height: 118px;
  width: 118px;
  object-fit: cover;
  margin: 30px 0;
}

.depoimento div {
  width: 70%;
  max-width: 315px;
  margin: 0 15%;
}

.depoimento .texto {
  color: #6C6C6C;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.sobreodepoimento {
  font-size: 20px;
  line-height: 1;
  text-align: left;
}

.slick-no-slide .slick-track, .slick-no-slide .slick-track div {
  width: 100% !important;
  text-align: center;
}

.slick-no-slide .slick-slide {
  float: none;
  display: inline-block;
}

.slick-dots {
  display: inline-flex;
}

.slick-dots li {
  font-size: 0px;
  color: transparent;
  overflow: hidden;
  list-style: none;
  background-color: #D8D8D8;
  border: 1px solid gray;
  width: 8px;
  height: 8px;
  line-height: 8px;
  margin: 2px;
  border-radius: 50%;
}

.slick-dots .slick-active {
  border: 1px solid orange;
  background-color: white;
}

.depoimento .fa-quote-left {
  text-align: left;
  float: left;
  margin: 20px;
  font-size: 40px;
  color: gray;
  width: 100%;
}

.depoimento .fa-quote-right {
  text-align: right;
  float: right;
  margin: 20px;
  color: gray;
}

.depoimentos .setas {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 60px;
  position: absolute;
  margin-top: -400px;
}

.fluxos {
  flex-direction: column;
}

.fluxos h2 {
  color: #6C6C6C;
  font-size: 20px;
}

.fluxos h2 img {
  padding-right: 5px;
}

.fluxos .etapa .numero {
  height: 90px;
  width: 90px;
  font-size: 20px;
  line-height: 90px;
  border: 1px solid #D8D8D8;
  border-radius: 45px;
  text-align: center;
}

.fluxos .etapa {
  text-align: center;
}

.fluxos .etapa p {
  color: #6C6C6C;
}

footer {
  width: 100%;
  line-height: 2;
  background-color: rgba(0,0,0,.8);
  padding: 35px 0;
  border-bottom: 1rem solid orange;
}

footer * {
  color: rgba(255,255,255,.9);
}

footer * strong {
  color: rgba(255,255,255,1);
}

footer * ul {
  -webkit-padding-start: 0px;
}

footer * ul {
  list-style: none;
}

footer .cursos, footer .contato {
  padding: 12px 25px;
  line-height: 1;
  margin-bottom: 20px;
}

footer .cursos {
  background-color: black;
  color: white;
}

footer .contato {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

@media (min-width: 786px) {
  .fluxos .etapa {
    text-align: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  #fluxo * p {
    margin: 10px 25px;
  }

  #linha {
    border-top: 1px solid #D8D8D8;
    width: 80%;
    margin: 60px 10% 0;
  }

  #fluxo .numero {
    background-color: white;
  }

  #fluxo .etapa {
    margin-top: -70px;
  }
}

@media (max-width: 786px) {
  #navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
  }

  #navbar .columns {
    max-width: 90rem;
  }

  #navbar .logo {
    margin-top: 10px;
  }

  #navbar .logo ul {
    -webkit-padding-start: 0px;
  }

  #navbar .row {
    flex-direction: column;
  }

  #navbar .opcoes {
    display: none;
  }

  .banneres {
    margin-bottom: 50px;
  }

  .banneres .row .column, footer .row .columns, .destaques .row .column,
  .fluxos .column {
    max-width: 80%;
    flex-basis: 80%;
  }

  .fluxos .row {
    max-width: 90%;
    flex-basis: 100%;
    margin: 0 5%;
  }

  .destaques {
    padding: 0;
  }

  .destaques .row {
    padding: 20px 0 ;
  }

  .destaques * img {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  }

  .callactions .texto {
    margin: 40px 0;
  }

  .callactions .acoes, .callactions .botao {
    text-align: center;
  }

  .fluxos {
    align-content: center;
  }

  .fluxos .timeline {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }

  .fluxos .etapa {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 3%;
    align-items: center;
  }

  .fluxos .etapa p {
    width: calc(100% - 98px);
  }

  footer {
    line-height: 1.42;
  }

  footer .row {
    flex-direction: column;
    max-width: 80%;
    margin: 10px 10%;
  }

  footer .opcoes, footer .facebook {
    display: none;
  }

  footer .botoes * {
    text-align: center;
  }

  .fluxos h2 {
    padding-top: 30px;
    text-align: center;
    width: 99%;
  }

  .depoimentos .setas {
    display: none;
  }
}

@media (max-width: 640px) {
  .callactions .row {
    flex-direction: column;
  }

  .callactions .row .column, .callactions .row .column {
    max-width: 80%;
    flex-basis: 80%;
  }
}

@media (max-width: 786px) {
  #navbar * {
    font-size: 12px;
  }
}
