@font-face {
  font-family: Montserrat-Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Italic.ttf);
}

* {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar *, .banneres *, .destaques h1, .destaques h2, .destaques h3,
.destaques h4, .destaques h5, .destaques h6 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banneres .legendabanner a, .banneres .legendabanner a * {
  font-family: 'Montserrat-Medium', 'Roboto', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.callactions h1, .callactions h2, .callactions h3, .callactions h4,
.callactions h5, .callactions h6 {
  font-family: 'Montserrat-Bold', 'Roboto', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: .96;
  color: #6C6C6C;
}

.sobreodepoimento * {
  font-family: 'Roboto-Italic', 'Roboto', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: .96;
  color: #6C6C6C;
}
