.pagina {
  background-color: #B7B7B7;
}

.pagina .capa img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

article {
  padding: 65px 0;
  color: rgba(0,0,0,.8);
  font-family: 'Roboto-Regular', 'Montserrat', sans-serif;
}

article h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: unset;
  line-height: 25px;
}

.pagina .conteudo {
  width: 93%;
  padding-right: 2%;
  padding-left: 2%;
}

.pagina * input {
  padding: 10px 2px;
  border-radius: 3px;
}
